---
---

@import "{{ site.theme }}";
/* Add a black background color to the top navigation */
.topnavmain {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnavmain a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavmain a:hover {
  color: #0090ff;
}
