---
---

@import "{{ site.theme }}";
/* Add a black background color to the top navigation */
.topnavmain {
  /* padding: 0 !important; */
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnavmain a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnavmain a:hover {
  background-color: white; /*#373737;*/
  color: white;
}
